* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, Helvetica Neue,Helvetica,Arial,sans-serif;
}
/* Barra menu  */

header {
    position: relative;
}
.barra-menu {
    height: 600px;
    width: 100%;
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

.logo {
    width: 15%;
    background-color: transparent;
    vertical-align: middle;
    line-height: 10vh;
    padding-top: 30px;
    margin-left: 5%;
}

nav {
    margin-left: 30%;
    padding-top: 20px;
    vertical-align: middle;
}

nav ul li {
    display: inline;
    text-align: center;
    padding: 0 15px;
    color: white;
}

.textone.buttom {
    background-color: white;
    color: black;
    height: 35px;
    width: 70px;
    border-radius: 16px;
    font-size: 15px;
    border-color: transparent;
    margin-left: 1300px;
    padding-top: 8px;
    padding-left: 10px;
}
/* Fine Barra menu  */

/* Inizio bottom menu  */
.bottom-menu {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

h1 {
    font-size: 55px;
}

p {
    font-size: 35px;
}

/* Fine bottom menu  */

/* Inizio main  */
.section {
    height: 110vh;
    width: 100%;
    background-color: white;
    border: 2px solid black;
}

img {
    width: 50%;
    height: 50%;
    float: left;
}

.side-text {
    width: 25%;
    float: left;
    margin: 30px;
    margin-left: 130px;
}

.bold {
    font-size: 45px;
    font-weight: 700;
}

p {
    margin-top: 30px;
    font-size: 20px;
}

.image {
    margin-top: 12%;
    margin-left: 5%;
}

.section.gris img {
    float: right;
    margin: 10px;
    margin-right: 100px;
}

.section.gris.side-text p {
    margin-right: 5%;
}

.section.gris {
    background-color: #F6F6F6;
}

.section.four {
    height: 170vh;
}

/* Fine main  */


/* Sezione quarta */

.bottom-text {
    font-size: 30px;
    text-align: center;
    margin-top: 10%;
}

.section.four img {
    width: 80%;
    height: 40%;
    margin-left: 10%;
}

#img2 {
    float: none;
    width: 40%;
    height: 15%;
    margin-left: 30%;
    margin-top: 80px;
    
}

.stars-container {
    position: relative; 
}

.text-stars {
    position: absolute; 
    left: 33%;
    top: 95%;
    font-weight: 800;
    font-size: 30px;
    float: none;
}

/* BOTTONI  */
.bottom-mac1 {
    position: absolute;
    height: 50px;
    width: 220px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 400;
    border-color: transparent;
    background-color: #8EA1E1;
    color: white;
    left: 42%;
    top: 105%;
}

/* BOTTONI  */

.bottom-mac {
    position: absolute;
    height: 55px;
    width: 220px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 400;
    border-color: transparent;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    left: 30%;
    margin-top: 2%;
    margin-left: 2%;
}

.bottom-browser {
    position: absolute;
    height: 55px;
    width: 300px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 400;
    border-color: transparent;
    background-color: #24282B;
    color: white;
    margin-bottom: 10px;
    margin-top: 2%;
}


/* Fine Sezione quarta */

/* Fine main  */

/* Inizio footer  */
footer {
    height: 80vh;
    width: 100%;
    background-color: #24282B;
    padding-left: 10%;
    padding-top: 6%;
}

.containers.uno {
    display: inline-block;
    height: 65%;
    width: calc(100% / 4 - 5px);
    /* background-color: green; */
    border: 1px solid white; 
}

.containers {
    display: inline-block;
    height: 65%;
    width: calc(80% / 5 - 5px);
    /* background-color: green; */
    border: 1px solid white; 
}

hr {
    margin-top: 40px;
    width: 90%;
}

footer .logo {
    margin: 0;
    width: 20%;
}

.container-bottom {
    position: relative;
    width: 20%;
}

.bottom-footer {
    position: absolute;
    height: 40px;
    width: 90px;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 600;
    border-color: transparent;
    background-color: #8EA1E1;
    color: white;
    left: 2080%;
    /* margin-top: 2%;
    margin-left: 2%; */
}