* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 120%;
    font-family: Whitney, Helvetica Neue,Helvetica,Arial,sans-serif;
}
/* Barra menu  */

.barra-menu {
    position: relative;
    background-image: url("../img/jumbo.png");
    background-color: skyblue;
    width: 100%;
    height: 80vh;
    background-size: cover;
    object-fit: cover;

}

.logo {
    position: absolute;
    width: 30%;
    height: 15%;
    vertical-align: middle;
    line-height: 10vh;
    padding-top: 2%;
    margin-left: 10%;
}

nav {
    position: absolute;
    width: 50%;
    height: 15%;
    margin-left: 25%;
    text-align: center;
    padding: 40px;
    vertical-align: middle;
}

nav ul li {
    display: inline;
    text-align: center;
    padding: 0 15px;
    color: white;
}

.textone.buttom {
    background-color: white;
    color: black;
    height: 5.5%;
    width: 5%;
    border-radius: 16px;
    font-size: 15px;
    text-align: center;
    padding: 0.5%;
    border-color: transparent;
    float: right;
    margin: 2% 15% 5%;
}

.bottom-menu {
    position: absolute;
    position: absolute;
    width: 60%;
    text-align: center;
    top: 35%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
}

h1 {
    font-size: 55px;
}

p {
    font-size: 35px;
}

/* Fine bottom menu  */




/* Inizio main  */
.section {
    height: 110vh;
    width: 100%;
    background-color: white;
    border: 2px solid black;
    /* background-image: url(../img/wave.svg); */

}


.image {
    margin-top: 12%;
    margin-left: 5%;
}

img {
    width: 45%;
    height: 45%;
    float: left;
    margin-left: 5%;
}

.side-text {
    width: 25%;
    float: left;
    margin: 30px;
    margin-left: 130px;
    /* z-index: 999; */

}

.bold {
    font-size: 45px;
    font-weight: 700;
}

p {
    margin-top: 30px;
    font-size: 20px;
}


.section.gris {
    background-color: #F6F6F6;
}

.section.gris img {
    float: right;
    margin-right: 10%;
}

.side-text.gris {
    margin-left: 15%;
    margin-right: 0;
}

.section.four {
    height: 170vh;
    background-image: none;
}

/* Bottom  */
.bottom-mac {
    position: absolute;
    height: 55px;
    width: 220px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 400;
    border-color: transparent;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    left: 20%;
    margin-top: 4%;
    margin-left: 2%;
}

.bottom-browser {
    position: absolute;
    height: 55px;
    width: 300px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 400;
    border-color: transparent;
    background-color: #24282B;
    color: white;
    margin-bottom: 10px;
    margin-top: 4%;
}

/* SEZIONE QUARTA */

.section.four img {
    width: 80%;
    height: 40%;
    margin-left: 10%;
}

.bottom-text {
    font-size: 30px;
    text-align: center;
    margin-top: 10%;
}

/* Stars container  */

.stars-container {
    position: relative; 
}

.text-stars {
    position: absolute; 
    left: 35%;
    top: 96%;
    font-weight: 800;
    font-size: 30px;
    float: none;
}

#img2 {
    float: none;
    width: 40%;
    height: 25%;
    margin-left: 30%;
    margin-top: 5px;
    
}

/* BOTTONI  */
.bottom-mac1 {
    position: absolute;
    height: 50px;
    width: 220px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 400;
    border-color: transparent;
    background-color: #8EA1E1;
    color: white;
    left: 42%;
    top: 105%;
}

/* BOTTONI  */
/* SEZIONE QUARTA */
/* Fine main  */

/* Inizio footer  */
footer {
    height: 80vh;
    width: 100%;
    background-color: #24282B;
    padding-left: 10%;
    padding-top: 6%;
}

.container-footer {
    display: inline-block;
    height: 75%;
    width: 75%;
    /* background-color: green; */
    border-bottom: 1px solid #7389D9;
    margin-left: 5%;
}

.containeruno {
    display: inline-block;
    height: 100%;
    width: 30%;
    background-color: #24282B;
    border-bottom: 0.1px #7389D9;
}
.containeruno p{
    margin-bottom: 30px;
}

.img-ita {
    width: 8%;
    margin: 1%;
}

h3{
    font-size: 35px;
    color: #8EA1E1;;
}

.ita {
    font-size: 15px;
    color: white;
}

.freccia2 {
    vertical-align: middle;
    color: white;
    margin: 2% 2%;
}

.containerdue {
    display: inline-block;
    height: 25vh;
    background-color: red;
}

.containertre {
    display: inline-block;
    height: 25vh;
    background-color: purple;
}

.containerquattro {
    display: inline-block;
    height: 25vh;
    background-color: purple;
}
/* social media  */

.fa {
    padding: 10px;
    width: 35px;
    text-decoration: none;
    margin: 10px 10px;
    border-radius: 50%;
  }

  .fa:hover {
      opacity: 0.5;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }

/* social media  */
/* Logo footer  */

footer .logo {
    margin: 0;
    margin-left: 5%;
    width: 20%;
}

.container-bottom {
    position: relative;
    width: 20%;
}

.bottom-footer {
    position: absolute;
    height: 40px;
    width: 90px;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 600;
    border-color: transparent;
    background-color: #8EA1E1;
    color: white;
    left: 1875%;

}

